################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicrocenterStockChecker/MicrocenterStockChecker/obj
/MicrocenterStockChecker/.vs/MicrocenterStockChecker
/MicrocenterStockChecker/MicrocenterStockChecker/bin/Debug
